<h1><%= @member.first_name %> <%= @member.last_name %></h1>

<p> Member ID: <%= @member.id %>

<p><a href="/members/<%=@member.id%>/edit">Edit Member Info</a></p>

<p><a href="/members/<%=@member.id%>/delete">Delete Member</a></p>
