<p><%=@gym_class.name%></p>

<p> Class ID: <%= @gym_class.id %>
    
<p>Currently enrolled: <ul>
    <% for member in @gym_class.members %> 
        <li><%=member.first_name%> <%=member.last_name%>
    <% end %>
</p>

<form action="/classes/<%= @gym_class.id %>/edit" method="get">
    <input type="submit" value="Update Class Info">
</form>

<p><a href="/classes/<%= @gym_class.id %>/delete">Delete Class</a></p>