<p><%=@gym_class.name%></p>

<p>Class Capacity: <%=@gym_class.max_capacity.to_s%></p>

<p> Class ID: <%= @gym_class.id %>
    
<p>Currently enrolled: <ul>
    <% for member in @gym_class.members %> 
        <li><%=member.first_name%> <%=member.last_name%>
    <% end %>
</p>

<form action="/enrollment/<%= @gym_class.id %>" method="get">
    <input type="submit" value="Enroll Member">
</form>

<form action="/classes/<%= @gym_class.id %>/edit" method="get">
    <input type="submit" value="Update Class Info">
</form>

<form action="/classes/<%= @gym_class.id %>/delete" method="post">
    <input type="submit" value="Delete Class">
</form>