<p><%=@gym_class.name%></p>

<p> Class ID: <%= @gym_class.id %>
    
<p>Currently enrolled: <ul>
    <% for member in @gym_class.members %> 
        <li><%=member.first_name%> <%=member.last_name%>
    <% end %>
</p>

<p><a href="/classes/<%= @gym_class.id %>/edit">Update Class Info</a></p>