<p><%=@gym_class.name%> - Member Enrollment</p>

<form action="/enrollment" method="post" autocomplete="off">

<label for="name">Name of Member:
<select name="member_id" id="name-select">
<% for member in @members%>
    <% if member.active()%>
    <option value="<%=member.id%>"><%=member.first_name%> <%=member.last_name%></option>
    <%end %>
<% end %>
</select>
</label>

<input type="hidden" name="gym_class_id" id="gym-class" value="<%=@gym_class.id%>">


<input type="submit" value="Enroll Member in Class">

</form>